
<!-- About page -->
<ion-header>
  <ion-navbar>
    <ion-title>About</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="cards-bg">

  <ion-card>
<!--content-->

    <ion-card-content>
    <ion-list-header class="ggh2">
     <h2 class="ggh2h" id="img23"> <b>About CysFib App</b></h2>
     <!--display about app-->
    </ion-list-header> 
       <img src="assets/img/icon2.png" id="img22">
       <br>
      <p id="pp2" >
        CysFib App is designed and developed to help patients with cystic fibrosis,  especially targeting younger users . This App is provides guidelines, monitoring and other components. 
      </p>
        <!--display about developer-->
    <ion-list-header class="ggh2">
     <h2 class="ggh2h" id="img23"> <b>About Developer</b></h2>
    </ion-list-header> 
      <img src="assets/img/deve.png" id="img22">
      <br>
       <p id="img23"> <b>Ahmed Ismail</b></p>
       <p id="img23">shinobi.mv@gmail.com</p>
       <p id="img23">Villa College</p>
       
    </ion-card-content>

 

  </ion-card>

  

 

  



</ion-content>
