

  <!--Medication item view page-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="opnav">Details</ion-title>
  </ion-navbar>

</ion-header>

 <!--Display Medication items list -->
<ion-content class="monitor">
  
      <ion-card>
  
          <ion-card-content>
              <p><b>Medication on :</b> {{myDate}}</p>
              <br>
              <p><b>Med. Name :</b> {{Height}}</p>
                <p><b> Milligram :</b> {{Weight}} MG</p>
                <p><b> Frequency :</b> {{Freq}}</p>
          </ion-card-content>
  
          <ion-list>
             
                 
 
          </ion-list>
  
      </ion-card>
  
  </ion-content>
