

  <!--tab bar contents-->
<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Home" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Self-care" tabIcon="person"></ion-tab>    
  <ion-tab [root]="tab2Root" tabTitle="Monitoring" tabIcon="calendar"></ion-tab>
  <ion-tab [root]="tab5Root" tabTitle="Directory" tabIcon="contacts"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="About" tabIcon="information-circle"></ion-tab>
</ion-tabs>
