
<ion-header>
  <ion-navbar color="apphead"  >
    <ion-title class="opnav">
      CF Guide
    </ion-title>
  </ion-navbar>
</ion-header>
<!--Cystic Fibrosis guidlines 
  -->
<ion-content padding>
  <ion-list-header class="ggh2">
       <h2 class="ggh2h" > CF Guides </h2>
    </ion-list-header>
  <ion-list >
    <!--ngIF used to get items from the datastore
  -->
    <ion-item *ngFor="let l of list" (click)="Listitem(l)">
     
      <h2>{{l.Name}}</h2>
      <p class="mpline">{{l.Design}}</p>
      <ion-icon clear item-right name="arrow-forward" class="debutton"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>