

  <!--Medication calculation page-->
<ion-header>
  
    <ion-navbar>
        <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Monitor Medication</ion-title>
          <ion-buttons start>
              <!--add button to call add medicaiton page-->
            <button ion-button color="primary"   id="addmx2" icon-only (click)="addItem()"><ion-icon ios="ios-add" md="md-add" id="addmx"></ion-icon></button>
           
            </ion-buttons>
      </ion-navbar>
  
  </ion-header>
  
  
  <ion-content>
       <!--details of medicaiton page-->
    <ion-list detail-non>
      <ion-item-sliding  *ngFor="let item of itemsA; let i = index"(click)="viewItem(item)" detail-none> 
        <ion-item >
           <ion-icon name= "arrow-forward" item-right></ion-icon>
           <p> <b>Med. Name : </b> {{item.Mname}}    | <b>   Milligram : </b> {{item.Mil}} MG</p>
           <p>  <b>Frequency : </b> {{item.Freq}}    | <b> Date :</b> {{item.myDate}}  </p>

        
   <!--delete part of medicaiton page-->
       </ion-item>
       <ion-item-options side="left">
         <button ion-button color="danger" (click)="delete(i)">delete</button>
       </ion-item-options>
   
   
     </ion-item-sliding>
     <p>   slide right to delete. click to view item details</p>
  </ion-list>
  </ion-content>
  