
<ion-header>
  <ion-navbar >
    <ion-title class="opnav">
     Directory
    </ion-title>
  </ion-navbar>
</ion-header>
 
<ion-content>

  <ion-list class="accordion-list">
      <ion-list-header class="ggh2">
       <h2 class="ggh2h" > Directory </h2>
    </ion-list-header>
    <!-- First Level -->
    <ion-list-header *ngFor="let item of information; let i = index" no-lines no-padding>
      <!-- Toggle Button -->
      <button ion-item (click)="toggleSection(i)" detail-none [ngClass]="{'section-active': item.open, 'section': !item.open}">
        <ion-icon item-left name="arrow-forward" *ngIf="!item.open"></ion-icon>
        <ion-icon item-left name="arrow-down" *ngIf="item.open"></ion-icon>
          {{ item.name }}
      </button>
 
      <ion-list *ngIf="item.children && item.open" no-lines>
        <!-- Second Level -->
        <ion-list-header *ngFor="let child of item.children; let j = index" no-padding>
          <!-- Toggle Button -->
          <button ion-item (click)="toggleItem(i, j)" *ngIf="child.children" class="child" detail-none>
            <ion-icon item-left name="add" *ngIf="!child.open"></ion-icon>
            <ion-icon item-left name="close" *ngIf="child.open"></ion-icon>
            {{ child.name }}
          </button>
 
          <!-- Direct Add Button as Fallback -->
          <ion-item *ngIf="!child.children" ion-item detail-none class="child-item" text-wrap>
          
            
            <p class="brcc" text-lowercase>{{ child.information }}</p>
            
          </ion-item>
 
          <ion-list *ngIf="child.children && child.open">
            <!-- Third Level -->
            <ion-item *ngFor="let item of child.children; let k = index" detail-none class="child-item" text-wrap>
            
              <p *ngIf=" item.cat == '1'" ><b> Address:</b> {{ item.information }}</p>
              <p  *ngIf=" item.cat == '1'"  ><b> Open Hours:</b> {{ item.op }}</p>              
            
              <p  *ngIf=" item.cat == '2'"  ><b> Qualification:</b> {{ item.qf }}</p>
              <p  *ngIf=" item.cat == '2'"  ><b> Work Place:</b> {{ item.wp }}</p>
              <p  *ngIf=" item.cat == '2'"  ><b> Department:</b> {{ item.dep }}</p>
              <p   ><b> Phone:</b> {{ item.phone }}</p>
              <!-- Direct Add Button -->
              
            </ion-item>
            
          </ion-list>
 
        </ion-list-header>
      </ion-list>
      
    </ion-list-header>
  </ion-list>
  

</ion-content>

