

  <!--detal of dietary monitoring-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="opnav">Details</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="monitor">
  
      <ion-card>
           <!--getting data and displaying dietary monitoring info-->
          <ion-card-content>
              <p><b>Dietary on:</b> {{myDate}}</p>
              <br>
              <p><b></b>Name: {{Dname}} </p>
                <p><b></b> Time : {{Time}}</p>
               
          </ion-card-content>
  
          <ion-list>
             
                 
 
          </ion-list>
  
      </ion-card>
  
  </ion-content>
