

  <!--guidelines Health calculation page-->
<ion-header>
  <ion-navbar>
    <ion-title> Guidelines </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
   This is guidelines page
</ion-content>
