

  <!--add for items in guidlines
  -->
<ion-header>
    <ion-navbar>
        <ion-title>Add guidlines</ion-title>
        <ion-buttons end>
            <button (click)="save()"><ion-icon name="checkmark"></ion-icon></button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

  <!--add items to guidlines
  --> 
<ion-content class="add">
    <ion-list>
        <ion-item>
              <!-- input items to guidlines
  --> 
            <ion-label floating>Todo Item</ion-label>
            <ion-input type="text" [(ngModel)]="todoItem"></ion-input>
        </ion-item>
    </ion-list>
</ion-content>