<

<ion-header>
  <ion-navbar>
    <ion-title>
      Settings
    </ion-title>
  </ion-navbar>
</ion-header>
<!--contents of the page
  -->

<ion-content padding>
   This is settings page
</ion-content>
