
<!--page for weight and height view data  -->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="opnav">Details</ion-title>
  </ion-navbar>

</ion-header>

<!--page contents -->

<ion-content class="monitor">
  
      <ion-card>
            <!--Displaying details -->
          <ion-card-content>
              <p><b>Height & Weight on:</b> {{myDate}}</p>
              <br>
              <p><b></b>Height= {{Height}} CM</p>
                <p><b></b> Weight = {{Weight}} KG</p>
               
          </ion-card-content>
  
          <ion-list>
             
                 
 
          </ion-list>
  
      </ion-card>
  
  </ion-content>
